/*=================================================
*  Display
=================================================== */
.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}
.position-static{
  position: static;
}
