/*=================================================
*  PAGE HEADER
=================================================== */
.page-header {
    background-color: $gray-light;
    border-bottom: 1px solid $border-color;
    padding-top: 15px;
    padding-bottom: 15px;

    &__title {
        font-size: rem(23px);
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.page-header--split {
    @include media-min(md) {
        .page-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .rt-breadcrumbs {
            text-align: right;
        }

        .page-header__title {
            margin-bottom: 0;
        }
    }
}

.page-header--center {

    .page-header__title,
    .page-header__desc {
        text-align: center;
    }

    .rt-breadcrumbs {
        display: flex;
        justify-content: center;
    }
}

.page-header--left {

    .page-header__title,
    .page_header_desc,
    .rt-breadcrumbs {
        text-align: left;
    }
}

.page-header--right {
    .page-container {
        text-align: right;
    }

    .rt-breadcrumbs {
        display: flex;
        justify-content: flex-end;
    }
}