.rt-breadcrumbs {
    color: $color-second;
    font-size: 13px;

    a {
        color: $color-third;

        &:hover {
            color: $link-hover;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
    }

    li {
        list-style: none;
        margin-right: 7px;

        &:after {
            margin-left: 7px;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            font-family: FontAwesome;
            font-weight: 900;
            content: "\f105";
            font-size: 12px;
            color: $color-third;
        }

        &:last-child {
            margin-right: 0;

            &:after {
                display: none;
            }
        }
    }
}