/*=================================================
*  HEADER MOBILE
=================================================== */
.rt-header-mobile {
  display: none;
  position: relative;
  z-index: 999;
  &__main {
    background-color: $color-base;
    height: 57px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid $border-color;
  }
  &__element {
    display: flex;
    align-items: center;
  }
  &__divender {
    background-color: $border-color;
    margin-left: 5px;
    margin-right: 5px;
    width: 1px;
  }
  &__column {
    display: flex;
    flex-flow: row wrap;
    height: inherit;
    align-items: center;
  }
  i{
    font-size: 14px;
  }
 
}
 .rt-header-mobile .rt-menu__main .rt-header__element{
    padding-top: 5px;
    padding-bottom: 5px;
  }
/*=================================================
*  CONTAINER
=================================================== */
.rt-header-mobile__main .page-container {
  height: 100%;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 100%;
  align-content: center;
}

/*=================================================
* LOGO
=================================================== */
.rt-header-mobile {
  .rt-logo {
    width: 120px;
    display: inline-block;
    img {
      width: 100%;
    }
    &__sticky {
      display: none;
    }
  }
}

/* show logo each coditional */
.rt-header-mobile .rt-logo__primary {
  display: block;
}

.rt-header-mobile.is-sticky .rt-logo__sticky {
  display: block;
}

/* hidden logo in header sticky and overlay active*/
.rt-header-mobile.is-sticky .rt-logo__primary {
  display: none;
}

/*=================================================;
/* STICKY
/*================================================= */
.rt-header-mobile.is-sticky {
  animation: header-down 0.5s;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
  animation: navbar-down 0.5s;
}

/*=================================================;
/* OVERLAY
/*================================================= */
.rt-header-mobile.is-overlay {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

/*=================================================
*  SEARCH
=================================================== */
.rt-header-mobile--search-overlay {
  .header_search-form,
  .menu_search-form {
    position: absolute;
    left: 15px;
    right: 37px;
    margin-top: 4px;
    z-index: 999;
  }
}
