@keyframes header-down {
    from {
        transform: translate3d(0, -100%, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.rt-header {
    display: none;
    z-index: 999;
    position: relative;

    .page-container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    li {
        list-style: none;
        position: relative;
    }

    i {
        cursor: pointer;
        font-size: 14px;
    }

    &__spacer {
        flex: 1;
    }

    &__divender {
        background-color: $border-color;
        margin-left: 5px;
        margin-right: 5px;
        width: 1px;
        height: 15px;
    }

    &__search-form {
        .form_element {
            margin-bottom: 0;
        }
    }

    &__btn {
        margin: 0;
    }

    &__cart {
        position: relative;
        cursor: pointer;
    }

    &__cart-icon {
        position: relative;
        line-height: 1px;
    }

    &__cart-count {
        position: absolute;
        top: -13px;
        right: -8px;
        background-color: orange;
        color: $color-base;
        border-radius: 100px;
        display: inline-block;
        height: 17px;
        width: 17px;
        line-height: 17px;
        text-align: center;
        font-size: 11px;
    }

    &__column {
        display: flex;
        flex-wrap: wrap;
        height: inherit;
        align-items: center;
    }

    &__element {
        color: $color-second;
        padding: 0 7px;

        a {
            cursor: pointer;
        }
    }

    &__wrapper {
        position: relative;
    }
}

/*=================================================
* HEADER LOGO
/*================================================= */

.rt-header .rt-logo {
    height: inherit;
    display: flex;
    align-items: center;
}

/* hidden all logo */

.rt-header {
    .rt-logo__sticky {
        display: none;
    }
}

.rt-header.is-sticky .rt-logo__sticky {
    display: block;
}

/* hidden logo if header sticky active */

.rt-header.is-sticky .rt-logo__primary {
    display: none;
}

.rt-header.is-overlay .rt-logo__overlay {
    display: block;
}

.site-title, .site-desc{
    display: none;
}
/*=================================================
*  HEADER MAIN
=================================================== */

.rt-header__main {
    border-bottom: 1px solid $border-color;

    .rt-header__logo-primary {
        display: block;
    }
}

.rt-header__main,
.rt-header__sticky {
    z-index: 9;
    background-color: $color-base;

    .rt-btn {
        margin: 0;
    }
}

/*=================================================
*  HEADER MIDDLE
=================================================== */

.rt-header__middle {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 30px;
    background: $color-base;
    border-bottom: 1px solid $border-color;

    .rt-btn {
        margin: 0;
    }

    .rt-header__search-form {
        .rt-form__element {
            width: 230px;
        }
    }
}

/*=================================================
*  HEADER TOPBAR
=================================================== */

.rt-header__topbar {
    background-color: $gray-light;
    height: 37px;
    font-size: 13px;
    border-bottom: 1px solid $border-color;

    .page-container {
        display: flex;
        height: inherit;
        align-content: stretch;
    }

    .rt-btn {
        padding: 2px 12px;
        font-size: 12px;
        margin-bottom: 0;
    }

    .rt-header__search-form {
        .rt-form__element {
            width: 230px;
            margin: 0;
        }

        .rt-form__input {
            height: 31px;
            background-color: $gray;
            border-color: darken($gray, 5);
            margin: 0;
            border-radius: 0;
        }

        .widget-search_submit {
            line-height: 31px;
        }
    }

    .rt-socmed__item {
        margin-bottom: 0;
    }

    .rt-menu--horizontal {
        height: 37px;

        .rt-menu__item a {
            font-size: 13px;
            padding-left: 7px;
            padding-right: 7px;
        }
    }
}

/*=================================================
*  STICKY
=================================================== */

.rt-header {
    &__sticky {
        display: none;
    }
}

.rt-header.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    animation: header-down 0.5s;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);

    .rt-header__middle,
    .rt-header__topbar,
    .rt-header__main {
        display: none;
    }

    .rt-header__sticky {
        display: block;
    }
}

/*=================================================
*  HEADER TRASNPARENT
=================================================== */

.rt-header.is-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    .rt-header__topbar,
    .rt-header__middle {
        display: none !important;
    }
}

.rt-header--transparent {
    .rt-header__main {
        background: transparent;
        border-color: rgba(#ffffff, 0.9);
    }

    .rt-header__main .rt-menu--bar .rt-menu__item a,
    .rt-header__main .rt-menu--bar .rt-menu__item i,
    .rt-header__main .rt-header__element i {
        color: rgba(#ffffff, 0.9);
    }
}

/*=================================================
* HEADER TRASPARENT DARK
/*================================================= */

.rt-header--transparent-dark {
    .rt-header__main {
        background: transparent;
    }
}

/*=================================================
* HEADER STYLE
/*================================================= */

.rt-header--split-menu {
    .rt-menu--second {
        justify-content: flex-end;
    }

    .rt-menu--thirty {
        justify-content: flex-start;
    }
}

/*=================================================
* ELEMENTOR HEADER BUILDER
/*================================================= */

.js-elementor-header-sticky.is-sticky {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    animation: header-down 0.5s;
    z-index: 9999;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/*=================================================
* COLUMN 
/*================================================= */

[data-display=grow] {
    flex: 2;
}

[data-alignment=left] {
    justify-content: flex-start;
}

[data-alignment=center] {
    justify-content: center;
}

[data-alignment=right] {
    justify-content: flex-end;
}

[data-alignment=justify] {
    justify-content: space-between;

    .rt-menu,
    .rt-menu__main,
    .rt-menu__list {
        width: 100%;
    }

    .rt-menu__list {
        justify-content: space-between
    }
}

/*=================================================;
/* HEADER CHECKOUT
/*================================================= */
.rt-header-checkout {
    border-bottom: 1px solid $border-color;

    .page-container {
        height: 60px;
        display: flex;
        align-items: center;
    }

    .rt-logo {
        max-width: 180px;
        &__sticky {
            display: none;
        }

        display: none;

        &:first-child {
            @include media-min(md) {
                display: block;
            }
        }

        &:last-child {
            @include media(md) {
                display: block;
            }
        }
    }
}