.rt-list{
  padding: 0;
  margin: 0;
  li{
    list-style: none;
    padding: 6px 12px;
  }
  i{
    margin-right: 5px;
  }
}

.rt-list--bordered{
  border: 1px solid $border-color;
  border-radius: $border-radius;
  li{
    border-bottom: 1px solid $border-color;
  }
}
.rt-list--simple{
  li{
    padding: 0;
    margin-bottom: 5px;
  }
}