/*=================================================
*  GENERAL KIRKI
=================================================== */

#customize-controls #customize-theme-controls .accordion-section>.accordion-section-title {
    text-transform: capitalize;
}

.customize-control {
    border-top: 1px solid #ddd;
}

.customizer_checkbox_header,
.customize-control-title {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 5px 0;
}

.customize-control-checkbox.retheme_control,
.customize-control-kirki-multicheck.retheme_control {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.customize-control-kirki-checkbox input[type='checkbox']:after,
.customize-control-kirki-multicheck input[type='checkbox']:after,
.customize-control-repeater input[type='checkbox']:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    cursor: pointer;
    border: 1px solid #d6d5d5;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.customizer_sub_header {
    font-size: 120%;
    font-weight: bold;
    line-height: 1;
    display: block;
    margin: 0 -12px;
    padding: 11px 12px;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, .1);
    border: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
    background: rgba(0, 0, 0, .05);
}

.kirki-subsets-wrapper {
    display: none;
}

.customize-control-kirki-typography .wrapper,
.customize-control-kirki-dimensions .wrapper {
    background: #f0f0f0e6;
}

/*=================================================
*  KIRKI TOGGLE
=================================================== */

.customize-control-kirki-toggle label {
    align-items: center;
}

/*=================================================
*  KIRKI CHECBOK
=================================================== */

.customize-control-checkbox {
    margin-bottom: 0;
}

/*=================================================
*  BACKGROUND
=================================================== */

.customize-control-kirki-background .background-wrapper {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #eaeaea;
}

/*=================================================
*  KIRKI HEADER
=================================================== */

.control-header {
    font-size: 14px;
    margin: 15px -12px 0;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 12px;
    padding: 10px 15px;
    color: #fff;
    background: #209cee;
    position: relative;
}

.control-arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    padding: 5px;
    text-align: center;
    color: #fafafa;
    background: #1c7fc1;
    cursor: pointer;
}

.control-header .fa-minus {
    display: none;
}

.control-header.is-active .fa-plus {
    display: none;
}

.control-header.is-active .fa-minus {
    display: block;
}

/*DESC PANEL*/

.customize-section-description-container .customize-section-description {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #004085;
    background-color: #f2f9ff !important;
    border-color: #b8daff;
}

/* customizer sub header */

[id*=retheme_subheader] {
    margin-bottom: 0;
}

[id*=retheme_subheader],
.retheme_subheader {
    font-size: 14px;
    margin: 15px -12px 0;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 12px;
    padding: 10px 15px;
    color: #fff;
    background: #a1a4a7;
    border: 1px solid #9c9c9c;
}

.retheme_subheader label {
    display: flex;
    justify-content: space-between;
}

/** multiselect item */

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #eeeeee !important;
    border: 1px solid #b4b9be !important;
    cursor: pointer !important;
}

/*=================================================
*  HEADER BUILDER SECTIOIN
=================================================== */

#sub-accordion-section-header_builder_section {
    bottom: -100% !important;
    z-index: 99;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: auto !important;
    visibility: visible !important;
    height: 0 !important;
    padding: 0 !important;
    max-height: auto !important;
    overflow: visible !important;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
    transition-property: left, right, top, bottom, width, margin;
    transition-duration: .2s;
    width: auto !important;
}

#sub-accordion-section-header_builder_section .customize-section-description-container {
    display: none !important;
}

#sub-accordion-section-header_builder_section.is-active {
    bottom: 0 !important;
}

#customize-control-header_builder_option {
    overflow-x: hidden;
}

#accordion-section-header_builder_section .accordion-section-title {
    display: none !important;
}

#sub-accordion-section-header_builder_section.expanded {
    left: 300px !important;
    transition-property: left, right, top, bottom, width, margin;
    transition-duration: .2s;
}

/*=================================================
*  DEVICE ICON
=================================================== */

.customize-control {
    position: relative;
}

.responsive-switchers {
    display: none;
    position: absolute;
    right: -10px;
    top: 7px;
}

.responsive-switchers .dashicons {
    background-color: #b4b9be;
    margin-right: 7px;
    margin-bottom: 0;
    font-size: 12px;
    color: #fff;
    height: 20px;
    width: 20px;
    line-height: 21px;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
}

/* .responsive-switchers span.is-active .dashicons {
    background-color: #0073aa;
} */

.control-responsive .responsive-switchers {
    display: flex;
}

.preview-desktop [data-responsive=tablet] {
    display: none !important;
}

.preview-desktop [data-responsive=mobile] {
    display: none !important;
}

.preview-tablet [data-responsive=desktop] {
    display: none !important;
}

.preview-tablet [data-responsive=mobile] {
    display: none !important;
}

.preview-mobile [data-responsive=desktop] {
    display: none !important;
}

.preview-mobile [data-responsive=tablet] {
    display: none !important;
}

/* active device */

.preview-desktop .responsive-switchers .dashicons-desktop,
.preview-tablet .responsive-switchers .dashicons-tablet,
.preview-mobile .responsive-switchers .dashicons-smartphone {
    background-color: #191e23;
}

/*=================================================
*  CONTROL - DIMENSIONS
=================================================== */

/**
 * change to inline form
 */

.customize-control-kirki-dimensions .wrapper .control>div h5 {
    margin: 0 0 5px;
}

.customize-control-kirki-dimensions .wrapper .control>div {
    width: auto;
    flex: 1;
    margin-right: -1px;
}