$border-color: #dddddd;
$border-radius: 0;
$gray-light: #fafafa;
$shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);

@import "bulma.scss";

.bulma {
  margin-right: 1px;
  padding-right: 15px;
}
/*=================================================;
/* HEADER
/*================================================= */

.page-header {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-grow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.page-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*=================================================;
/* BOX INFO
/*================================================= */

.rta-info-box {
  overflow: hidden;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $shadow;
  margin-bottom: 30px;
  &__body {
    padding: 15px;
  }
  .rta-img {
    text-align: center;
    img {
      width: 130px;
    }
  }
  &__icon i {
    margin-top: 15px;
    font-size: 27px;
    border: 1px solid $border-color;
    border-radius: 100%;
    width: 60px;
    line-height: 60px;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__content {
    font-size: 14px;
    line-height: 24px;
  }
  &__footer {
    border-top: 1px solid $border-color;
    padding: 15px 45px;
    background-color: $gray-light;
  }
}

.bg-light {
  background-color: #ffffff;
}
/*=================================================;
/* INPUT
/*================================================= */
.input {
  &.is-disabled {
    background-color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: none;
    color: #7a7a7a;
  }
}

/*=================================================;
/* WORDPRESS - NOTICE
/*================================================= */
#update-nag,
.update-nag {
  display: block;
  margin-left: 0 !important;
}
.notice {
  display: none;
}
#wpbody-content {
  .notice {
    padding: 10px;
    display: block;
    margin-left: 0 !important;
  }
}
