/* .elementor-panel #elementor-panel-header{
    background-color: #2b4b80 !important;
}
.elementor-panel .elementor-panel-navigation .elementor-panel-navigation-tab.elementor-active{
    border-color: #2b4b80;
}
.elementor-add-new-section .elementor-add-section-button{
    background-color: #39b54a;
}
.elementor-control-separator-default:before,
.elementor-control-separator-default:after{
    background-color: transparent;
} */

/* Panel widget logo */

.elementor-element .icon {
    position: relative;
}

.ate-icon {
    display: inline-block;
    width: 70px;
    height: 59px;
    margin-bottom: -8px;
    /* margin-top: 12px; */
}

/* .ate-icon::before {
    position: absolute;
    top: 3px;
    right: 3px;
    content: "Astropia";
    display: inline-block;
    background: #989faa;
    color: #ffffff;
    font-size: 7px;
    padding: 3px 8px;
    text-decoration: aliceblue;
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: bold;
    font-style: initial;
    letter-spacing: 1.2px;
} */

.ate-post {
    background: url('../img/astro-icon.png') no-repeat -11px -11px;
}

.ate-post-list {
    background: url('../img/astro-icon.png') no-repeat -165px -11px;
}

.ate-post-tiles {
    background: url('../img/astro-icon.png') no-repeat -88px -11px;
}

.ate-post-smart-tiles {
    background: url('../img/astro-icon.png') no-repeat -11px -77px;
}

.ate-post-slider {
    background: url('../img/astro-icon.png') no-repeat -241px -11px;
}

.ate-post-block {
    background: url('../img/astro-icon.png') no-repeat -88px -77px;
}

.ate-post-vertical {
    background: url('../img/astro-icon.png') no-repeat -165px -77px;
}

.ate-post-vertical-tiles {
    background: url('../img/astro-icon.png') no-repeat -11px -143px;
}

.ate-headline {
    background: url('../img/astro-icon.png') no-repeat -319px -11px;
}

.ate-portfolio {
    background: url('../img/astro-icon.png') no-repeat -473px -11px;
}

.ate-gallery {
    background: url('../img/astro-icon.png') no-repeat -396px -11px;
}

.ate-product {
    background: url('../img/astro-icon.png') no-repeat -473px -143px;
}

.ate-banner {
    background: url('../img/astro-icon.png') no-repeat -165px -143px;
}

.ate-testimonial {
    background: url('../img/astro-icon.png') no-repeat -319px -77px;
}

.ate-team {
    background: url('../img/astro-icon.png') no-repeat -319px -143px;
}

.ate-skill {
    background: url('../img/astro-icon.png') no-repeat -396px -143px;
}

.ate-map {
    background: url('../img/astro-icon.png') no-repeat -241px -143px;
}

.ate-price {
    background: url('../img/astro-icon.png') no-repeat -241px -77px;
}

.ate-map {
    background: url('../img/astro-icon.png') no-repeat -241px -143px;
}

.ate-countdown {
    background: url('../img/astro-icon.png') no-repeat -552px -11px;
}

.ate-contact {
    background: url('../img/astro-icon.png') no-repeat -473px -77px;
}

.ate-slider-thumbnail {
    background: url('../img/astro-icon.png') no-repeat -552px -77px;
}

.ate-menu-bar {
    background: url('../img/astro-icon.png') no-repeat -88px -209px;
}

.ate-menu-dropdown {
    background: url('../img/astro-icon.png') no-repeat -11px -209px;
}

.ate-menu-anchor {
    background: url('../img/astro-icon.png') no-repeat -165px -209px;
}

/* NAVBAR */

#elementor-preview-iframe html {
    margin-top: 0 !important;
}