@mixin woocommerce_message($color) {
  border-radius: $border-radius;
  border: none;
  overflow: hidden;
  background-color: lighten($color, 39);
  color: darken($color, 10);
  margin-bottom: 30px;

  &:before {
    color: $color;
  }

  a {
    color: darken($color, 10);
    font-weight: bold;
    &:hover,
    &:focus {
    color: darken($color, 10);
      text-decoration: underline;
    }
  }
  .button {
    background-color: darken($color, 10) !important;
    border-color: darken($color, 10) !important;
    color: $color-base !important;
    &:hover {
      background-color: lighten($color, 5) !important;
      border-color: lighten($color, 10) !important;
    }
  }
}

.woocommerce-message {
  @include woocommerce_message($color-success);

  @include media(sm) {
    display: flex;
    flex-direction: column;

    .button {
      margin-top: 10px !important;
    }
  }
}

.woocommerce-info {
  @include woocommerce_message($color-info);
}

.woocommerce-error {
  @include woocommerce_message($color-danger);
}

.woocommerce-notice--success {
  padding: 10px 15px;
  border-color: lighten($color-success, 30);
  color: darken($color-success, 10);
  background-color: lighten($color-success, 39);

  &:before {
    color: $color-success;
  }
}
